{% extends "dashboard/dashboard.html" %}


{% block content %}

<div class="col-lg-9">
  <input id="bookingssearch" style="margin:10px 0;" class="form-control" type="text" placeholder="Search" aria-label="Search">
<div class="table-responsive">
  <table style="margin-top:50px;" class="table table-hover table-condensed" >
      <tr>
        <th scope="col">Booking ID</th>
        <th  scope="col">No of Tickets</th>
        <th  scope="col">Type of seat</th>
        <th  scope="col">Email</th>
        <th  scope="col">Matches</th>
        <th style="width:25%;" scope="col">Action</th>
      </tr>

      {% for booking in bookings %}

      <tr>
        <tbody>

          <td>{{booking.Booking_Id}}</td>
          <td>{{booking.No_Of_Tickets}}</td>
          <td>{{booking.Type_Of_Seats}}</td>
          <td>{{booking.Customer_id}}</td>
          <td>{{booking.Match.Match_Name}}</td>
          <td>
            <a href="/dashboard/booking/edit/{{ booking.Booking_Id }}"><button class="btn btn-primary" type="submit" name="button1">Edit</button></a>
            <a id="deletebooking" href="/dashboard/booking/delete/{{ booking.Booking_Id }}"> <button class="btn btn-danger" type="submit" name="button2">Delete</button></a>
          </td>

        </tbody>
      </tr>

      {% endfor %}
  </table>

</div>
<form style="float:right;" action="/dashboard/booking" method="POST">
  {% csrf_token %}
    <button class="btn btn-outline-secondary" type="submit" id="prev" value="prev" name="prev">Previous</button>
    <input class="form" style="width:40px;height:30px;" type="number" name="page" id="page" value="{{page}}" min="1" readonly>
    <button class="btn btn-outline-secondary" type="submit" id="next" value="next" name="next">Next</button>
</form>
  </div>
  <!-- /.col-lg-9 -->

  <script>
    $(document).ready(()=>{
      $(".sidebar").find(".active").removeClass("active");
      $("#bookingnav").addClass("active");
  })
  </script>

  {% endblock %}
