{% extends "dashboard/dashboard.html" %}



{% block content %}

<div class="col-lg-9">
  <input id="matchessearch" style="margin:10px 0;" class="form-control" type="text" placeholder="Search" aria-label="Search">
  <a  href="/dashboard/matches/create" class="btn btn-primary">Add Match</a>

<div class="table-responsive">
  <table style="margin-top:50px;" class="table table-hover table-condensed" >
      <tr>

        <th scope="col">Match ID</th>
        <th scope="col">Matches</th>
        <th  scope="col">Action</th>
      </tr>

      {% for match in matches %}

      <tr>
        <tbody>

          <td>{{match.Match_Id}}</td>
          <td>{{match.Match_Name}}</td>
          <td>
          <a href="/dashboard/matches/edit/{{match.Match_Id}}"> <button class="btn btn-primary" type="button" name="button1">Edit</button></a>
          <a id="deletematch" href="/dashboard/matches/delete/{{match.Match_Id}}"> <button class="btn btn-danger" type="button" name="button2">Delete</button></a>
          </td>


        </tbody>
      </tr>

      {% endfor %}
  </table>

  </div>
  <form style="float:right;" action="/dashboard/match" method="POST">
    {% csrf_token %}
      <button class="btn btn-outline-secondary" type="submit" id="prev" value="prev" name="prev">Previous</button>
      <input class="form" style="width:40px;height:30px;" type="number" name="page" id="page" value="{{page}}" min="1" readonly>
      <button class="btn btn-outline-secondary" type="submit" id="next" value="next" name="next">Next</button>
  </form>
  </div>
  <!-- /.col-lg-9 -->

  <script>
    $(document).ready(()=>{
      $(".sidebar").find(".active").removeClass("active");
      $("#matchnav").addClass("active");
  })
  </script>

  {% endblock %}
